doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript').
        if (data) {
            console.log(data)
        }
  body
    block content