doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript').
        console.log('init')
  body
    block content
    if data
        p has data